<div class="box">
<h1>Welcome to the EpiCoder Notes App</h1>
<h2>Here you can search and peruse Web Development Notes &amp; Resources by Junior Web Developers</h2>
</div>

<h2>Notes by Title</h2>
<%= @notes.each do |n| %>
<%= n.title %>
<%= n.content %>
<% end %>


<p>Upload Notes here:</p>
<form accept-charset="UTF-8" action="create" method="post" class="nifty_form">
  <input id="note_title" name="note[title]" type="text" />
  <textarea id="note_content" name="note[content]" cols="60" rows="12"></textarea>
  <input name="commit" type="submit" value="Create" />
</form>


