<div class="box">
<h1>Welcome to the EpiCoder Notes App</h1>
<h2>Here you can search and peruse Web Development Notes &amp; Resources by Junior Web Developers</h2>
</div>

<h2>Notes by Title</h2>
<ul><% @notes.each do |n| %>
<li><%= link_to n.title, note_path(n) %></li>
<%= n.content %>
<% end %>
</ul>


<p>Upload Notes here:</p>

<%= render partial: "form", locals: {note: Note.new} %>

