<link href='http://fonts.googleapis.com/css?family=Montez|Montserrat' rel='stylesheet' type='text/css'>
font-family: 'Montez', cursive;
font-family: 'Montserrat', sans-serif;


body{
  background: #FFC973;
  font-family: 'Montserrat', sans-serif;
  color: #FF2COO;
}

.box{
  background: #1D7373;
}

.image{
  width: 200px;
  border-radius: 100px;
}



